@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #f8fafa;
  --foreground: #191c1d;
  --card: #f2f4f4;
  --card-foreground: #191c1d;
  --popover: #ffffff;
  --popover-foreground: #191c1d;
  --primary: #0D5C5E;
  --primary-foreground: #ffffff;
  --secondary: #7A306C;
  --secondary-foreground: #ffffff;
  --muted: #e1e3e3;
  --muted-foreground: #3f4949;
  --accent: #e6e8e9;
  --accent-foreground: #3f4949;
  --destructive: #ba1a1a;
  --border: #bfc8c8;
  --input: #e6e8e9;
  --ring: #abeef0;
  --chart-1: oklch(0.868 0.007 39.5);
  --chart-2: oklch(0.547 0.021 43.1);
  --chart-3: oklch(0.438 0.017 39.3);
  --chart-4: oklch(0.367 0.016 35.7);
  --chart-5: oklch(0.268 0.011 36.5);
  --radius: 0.625rem;
}

.dark {
  --background: #0e1513;
  --foreground: #dee4e1;
  --card: #171d1b;
  --card-foreground: #dee4e1;
  --popover: #090f0e;
  --popover-foreground: #dee4e1;
  --primary: #59dbc7;
  --primary-foreground: #005047;
  --secondary: #9B51E0;
  --secondary-foreground: #4a007f;
  --muted: #303634;
  --muted-foreground: #bbcac5;
  --accent: #252b2a;
  --accent-foreground: #bbcac5;
  --destructive: #ffb4ab;
  --border: #3c4946;
  --input: #303634;
  --ring: #f0dbff;
  --chart-1: oklch(0.868 0.007 39.5);
  --chart-2: oklch(0.547 0.021 43.1);
  --chart-3: oklch(0.438 0.017 39.3);
  --chart-4: oklch(0.367 0.016 35.7);
  --chart-5: oklch(0.268 0.011 36.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}